.pojects_header{
  
}

.pojects_title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.my_projects_list{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 40px;  
}

@media screen and (max-width:760px) {
  .my_projects_list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}